.charts-container {
    display: flex;

    .chart-container {
        flex: 1;

        .chart {
            height: 37vmin;
            margin-top: 4vmin;
            width: 100%;
        }

        .chart-bottom {
            display: flex;
            flex-direction: column;
            margin-bottom: 2vmin;
            padding: 0 7vmin;

            .chart-bottom-line {
                display: flex;

                .left-side,
                .center-side,
                .right-side {
                    align-items: center;
                    display: flex;
                    flex: 1;
                }

                .number-grey {
                    color: #868797;
                    font-size: 4vmin;
                }

                .number-green {
                    color: #23dec8;
                    font-size: 4vmin;
                }

                .label-grey {
                    color: #868797;
                    margin-left: 0.5vmin;
                }

                .label-green {
                    color: #23dec8;
                    margin-left: 0.5vmin;
                }

                .left-side {
                    color: white;
                    font-size: 2.8vmin;

                    .red-square {
                        background: #fe335e;
                        display: inline-block;
                        height: 3vmin;
                        margin-right: 1.5vmin;
                        width: 3vmin;
                    }

                    .green-square {
                        background: #23dec8;
                        display: inline-block;
                        height: 3vmin;
                        margin-right: 1.5vmin;
                        width: 3vmin;
                    }

                    .toggle-chart-button {
                        background: transparent;
                        border: none;
                        color: #74ef5c;
                        font-size: 2.7vmin;
                        margin-left: 2vmin;
                    }
                }

                .center-side {
                    color: white;
                    font-size: 2.8vmin;
                    justify-content: center;

                    .positive {
                        color: #23dec8;

                        .percentage-icon {
                            border-color: transparent transparent #23dec8
                                transparent;
                            border-style: solid;
                            border-width: 0 1.2vmin 2.2vmin 1.2vmin;
                            display: inline-block;
                            height: 0;
                            margin-left: 2vmin;
                            margin-right: 1vmin;
                            vertical-align: middle;
                            width: 0;
                        }

                        .percentage {
                            font-size: 4vmin;
                            vertical-align: middle;
                        }
                    }

                    .negative {
                        color: #fe335e;

                        .percentage-icon {
                            border-color: #fe335e transparent transparent
                                transparent;
                            border-style: solid;
                            border-width: 2.2vmin 1.2vmin 0 1.2vmin;
                            display: inline-block;
                            height: 0;
                            margin-left: 2vmin;
                            margin-right: 1vmin;
                            vertical-align: middle;
                            width: 0;
                        }

                        .percentage {
                            font-size: 4vmin;
                            vertical-align: middle;
                        }
                    }
                }

                .right-side {
                    color: white;
                    font-size: 2.8vmin;
                    justify-content: flex-end;
                }
            }
        }
    }
}

.chart-with-scale {
    align-items: flex-start;
    display: flex;

    .chart-container {
        flex: 1;

        .legend {
            padding: 1vmin 0 1vmin 10vmin;

            .team {
                color: white;
                font-size: 3.5vmin;
                line-height: 1.4;
                margin: 0;
            }

            .date {
                color: white;
                font-size: 2.5vmin;
                margin: 0;
            }
        }

        .chart {
            height: 40vmin;
            margin-top: 0;
            width: 100%;
        }
    }
}

.chart-scale-container {
    padding: 4vmin 4vmin 1.2vmin 3vmin;
    width: 35vmin;

    .chart-scale {
        background: #1f1f42;

        .chart-scale-header {
            background: #3a3f82;
            padding: 1vmin 0;
            position: relative;

            p {
                color: white;
                font-size: 2.5vmin;
                margin: 0;
                text-align: center;
            }

            .tooltip {
                align-items: center;
                border: 1px solid #5ec253;
                color: #5ec253;
                cursor: pointer;
                display: flex;
                font-size: 2.5vmin;
                height: 3.5vmin;
                justify-content: center;
                line-height: 1;
                position: absolute;
                right: 1vmin;
                top: 50%;
                transform: translateY(-50%);
                width: 3.5vmin;
            }
        }
        .chart-scale-body {
            align-items: stretch;
            display: flex;
            flex-direction: column;
            padding: 3vmin 3vmin 1vmin 3vmin;

            .chart-scale-color {
                height: 3.2vmin;
                width: 100%;
            }

            .chart-scale-label {
                color: white;
                display: block;
                font-size: 1.5vmin;
                margin-bottom: 2vmin;
                text-align: center;
            }
        }
    }
}

.side-details-container {
    align-items: center;
    border-left: 1px solid #3e3e4b;
    display: flex;
    flex-direction: column;
    padding: 1vmin 4vmin 1.2vmin 3vmin;
    width: 35vmin;

    .title {
        color: white;
        font-size: 3vmin;
        margin-top: 0;
        margin-bottom: 1.4vmin;
        text-align: center;
    }

    .grade {
        margin-bottom: 1.2vmin;
        width: 14vmin;
    }

    .grade-text {
        font-size: 2.4vmin;
        margin: 0;
    }

    .grade-text-A {
        color: #77f55e;
    }

    .grade-text-B {
        color: #23dec8;
    }

    .grade-text-C {
        color: #fee300;
    }

    .grade-text-D {
        color: #fc9cac;
    }

    .grade-text-E {
        color: #fe335e;
    }

    .separator {
        background: #373743;
        height: 1px;
        margin: 2vmin 0;
        width: 100%;
    }

    .details-box {
        align-items: center;
        display: flex;
        flex-direction: row;

        .steps,
        .mvpa {
            margin-right: 2vmin;
            width: 5.5vmin;
        }

        .top-text {
            color: white;
            font-size: 4vmin;
            line-height: 4vmin;
            margin-top: 0;
            margin-bottom: 1vmin;
        }

        .bottom-text {
            color: white;
            font-size: 2vmin;
            margin: 0;
        }
    }
}

.below-chart {
    color: white;
    font-size: 2.6vmin;
    margin: 0;
    margin-top: -0.5vmin;
    text-align: center;
}
