.charts-container {
    display: flex;

    .chart-container {
        flex: 1;

        .chart-header {
            margin: 3vmin 2vmin 3vmin 0;
            position: relative;

            h1 {
                color: white;
                font-size: 4vmin;
                font-weight: normal;
                line-height: 5.5vmin;
                margin: 0;
                text-align: center;
            }

            .chart-select-wrapper {
                position: absolute;
                right: 10px;
                top: 0;

                .chart-select {
                    position: relative;
                }
            }

            .chart-select-button {
                background: transparent;
                border: 1px solid white;
                color: white;
                font-size: 2.7vmin;
                height: 5.5vmin;
                padding: 1vmin 0;
                position: absolute;
                top: 0;
                right: 0;
                width: 25vmin;

                &:before {
                    border-color: #fff transparent transparent transparent;
                    border-style: solid;
                    border-width: 1.6vmin 0.9vmin 0 0.9vmin;
                    content: '';
                    display: inline-block;
                    height: 0;
                    left: 1.4vmin;
                    margin-right: 1vmin;
                    position: absolute;
                    vertical-align: middle;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                }
            }

            .chart-select-list-wrapper {
                display: none;
                position: absolute;
                right: 0;
                top: 5.5vmin;
                z-index: 999;

                .chart-select-list-header {
                    background: #66667b;
                    color: white;
                    font-size: 2.7vmin;
                    padding: 1vmin 0 1vmin 3vmin;
                    position: relative;

                    button {
                        background: transparent;
                        border: none;
                        color: #bfc0c5;
                        font-size: 4vmin;
                        position: absolute;
                        right: 1vmin;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                .chart-select-list {
                    background: #797993;
                    list-style: none;
                    padding: 0 3vmin;
                    margin: 0;
                    width: 40vmin;

                    li {
                        border-bottom: 1px solid #acacb7;
                        color: white;
                        font-size: 2.7vmin;
                        padding: 1vmin 0;

                        button {
                            background: transparent;
                            border: none;
                            color: white;
                            padding: 0;
                            text-align: left;
                            width: 100%;
                        }

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }

        .chart {
            height: 37vmin;
            width: 100%;
        }

        .chart-bottom {
            display: flex;
            flex-direction: column;
            margin-bottom: 2vmin;
            padding: 0 4vmin;

            .chart-bottom-line {
                display: flex;

                .left-side,
                .center-side,
                .right-side {
                    align-items: center;
                    display: flex;
                    flex: 1;
                }

                .left-side {
                    color: white;
                    font-size: 2.8vmin;

                    .red-square {
                        background: #fe335e;
                        display: inline-block;
                        height: 3vmin;
                        margin-right: 1.5vmin;
                        width: 3vmin;
                    }

                    .green-square {
                        background: #23dec8;
                        display: inline-block;
                        height: 3vmin;
                        margin-right: 1.5vmin;
                        width: 3vmin;
                    }

                    .toggle-chart-button {
                        background: transparent;
                        border: none;
                        color: #74ef5c;
                        font-size: 2.7vmin;
                        margin-left: 2vmin;
                    }
                }

                .center-side {
                    color: white;
                    font-size: 2.8vmin;
                    justify-content: center;

                    .positive {
                        color: #23dec8;

                        .percentage-icon {
                            border-color: transparent transparent #23dec8
                                transparent;
                            border-style: solid;
                            border-width: 0 1vmin 1.8vmin 1vmin;
                            display: inline-block;
                            height: 0;
                            margin-left: 2vmin;
                            margin-right: 1vmin;
                            vertical-align: middle;
                            width: 0;
                        }

                        .percentage {
                            font-size: 2.8vmin;
                            vertical-align: middle;
                        }
                    }

                    .negative {
                        color: #fe335e;

                        .percentage-icon {
                            border-color: #fe335e transparent transparent
                                transparent;
                            border-style: solid;
                            border-width: 1.8vmin 1vmin 0 1vmin;
                            display: inline-block;
                            height: 0;
                            margin-left: 2vmin;
                            margin-right: 1vmin;
                            vertical-align: middle;
                            width: 0;
                        }

                        .percentage {
                            font-size: 2.8vmin;
                            vertical-align: middle;
                        }
                    }
                }

                .right-side {
                    justify-content: flex-end;

                    .total {
                        color: #23dec8;
                        font-size: 2.8vmin;
                    }
                }
            }
        }
    }
}
