.header {
    background: $headerBackground;
    display: flex;
    height: 9.5vmin;
    justify-content: space-between;
    // left: 0;
    padding: 10px 20px;
    // position: fixed;
    // top: 0;
    width: 100%;
    // z-index: 10;

    .left-side,
    .center-side,
    .right-side {
        align-items: center;
        display: flex;
        flex: 1;
    }

    .center-side {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .right-side {
        justify-content: flex-end;
    }

    a,
    button {
        background: transparent;
        border: none;
        color: $headerButtonColor;
        font-size: 3vmin;
        text-decoration: none;
    }

    .logo {
        height: 4.3vmin;
    }
}
