.login-form {
    margin: 9vmin auto 50px auto;
    width: 64vmin;
}

.login-form__title {
    color: $greyTitle;
    font-size: 3vmin;
    font-weight: normal;
    margin: 0;
}

.login-form__separator {
    background: $separatorBackground;
    height: 1px;
    margin: 25px 0;
    width: 100%;
}

.form-group {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;

    .form-label {
        color: #bfc0c5;
        font-size: 3.4vmin;
        width: 30%;
    }

    .form-input {
        background: transparent;
        border: 2px solid white;
        color: $greenText;
        font-size: 3.4vmin;
        padding: 5px 10px;
        width: 65%;

        &::placeholder {
            color: #b6b7bd;
        }
    }

    .form-label.required::after {
        content: '*';
        color: #23dec8;
        margin-left: 0.7vmin;
    }

    .datepicker {
        width: 65%;

        input {
            background: transparent;
            border: 2px solid white;
            color: $greenText;
            font-size: 3.4vmin;
            padding: 5px 10px;
            width: 100%;
        }

        .cal-icon {
            display: none;
        }
    }
}

.login-buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 9vmin;
}

.login-form__button {
    background: transparent;
    border: 2px solid white;
    color: white;
    display: block;
    font-size: 3.4vmin;
    margin-bottom: 3vmin;
    padding: 0.8vmin;
    text-align: center;
    width: 30%;
}

.forgot-password-link {
    color: $greenText;
    font-size: 2.4vmin;
    text-decoration: none;
}

.sign-up-wrapper {
    bottom: 0;
    color: #bfc0c5;
    font-size: 2.4vmin;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    .sign-up-button {
        background: transparent;
        border: none;
        color: $greenText;
        padding: 0;
    }
}
