.page-title {
    align-items: center;
    background: $pageTitleBackground;
    display: flex;
    height: 8.5vmin;
    justify-content: center;
    width: 100%;

    h1 {
        color: white;
        font-size: 3vmin;
        font-weight: normal;
    }
}
