.table-wrapper {
    // padding: 0 3vmin;
}

.table {
    border-collapse: collapse;
    width: 100%;

    .align-right {
        text-align: right;
    }

    tr {
        border-bottom: 1px solid #50505a;
        cursor: pointer;

        &:last-child {
            // border-bottom: none;
        }

        &:hover {
            background: #292e6b;
        }
    }

    td {
        padding: 2vmin 0;
        vertical-align: middle;

        &:first-child {
            padding-left: 3vmin;
            width: 14vmin;
        }

        &:last-child {
            padding-right: 3vmin;
        }
    }

    .switch-column {
        padding-right: 7vmin;
    }

    .avatar {
        border-radius: 50%;
        height: 9vmin;
        vertical-align: middle;
        width: 9vmin;
    }

    .title {
        color: white;
        font-size: 3.5vmin;
        font-weight: normal;
        line-height: 1;
        margin: 0;

        small {
            font-size: 1.7vmin;
            margin-left: 1vmin;
        }

        span {
            font-size: 2.5vmin;
            margin-left: 1vmin;
        }
    }

    .subtitle {
        color: #afb0b6;
        font-size: 2vmin;
        line-height: 1;
        margin: 0;
    }

    .subtitle.red {
        color: #f4325c;
    }

    .subtitle.cyan {
        color: #23dec8;
    }

    .subtitle.green {
        color: #74ef5c;
    }

    .icon {
        height: 4vmin;
        margin-right: 1vmin;
        vertical-align: middle;
    }

    .icon-label {
        color: #afb0b6;
        font-size: 2vmin;
        vertical-align: middle;
    }

    .table-link::after {
        content: ', ';
    }

    .table-link:last-child::after {
        content: '';
    }

    .table-link:hover {
        color: #74ef5c;
    }

    .positive {
        color: #23dec8;

        .percentage-icon {
            border-color: transparent transparent #23dec8 transparent;
            border-style: solid;
            border-width: 0 1.2vmin 2vmin 1.2vmin;
            display: inline-block;
            height: 0;
            margin-right: 1vmin;
            vertical-align: middle;
            width: 0;
        }

        .percentage {
            display: inline-block;
            font-size: 3vmin;
            min-width: 7.42vmin;
            text-align: left;
            vertical-align: middle;
        }
    }

    .negative {
        color: #fe335e;

        .percentage-icon {
            border-color: #fe335e transparent transparent transparent;
            border-style: solid;
            border-width: 2vmin 1.2vmin 0 1.2vmin;
            display: inline-block;
            height: 0;
            margin-right: 1vmin;
            vertical-align: middle;
            width: 0;
        }

        .percentage {
            display: inline-block;
            font-size: 3vmin;
            min-width: 7.42vmin;
            text-align: left;
            vertical-align: middle;
        }
    }

    .progress-bar {
        border: 1px solid #979797;
        border-radius: 50px;
        height: 2.5vmin;
        margin: 0 auto;
        width: 40vmin;

        .filler {
            border-radius: inherit;
            height: 100%;
        }

        .green {
            background: #74ef5c;
        }

        .cyan {
            background: #23dec8;
        }

        .red {
            background: #fe335e;
        }
    }

    .green-button {
        background: transparent;
        border: none;
        color: #74ef5c;
        font-size: 2.8vmin;
        margin-right: 2vmin;
    }

    .no-items-row {
        border-bottom: none;

        td {
            padding: 3vmin 0;
            text-align: center;

            span {
                color: #858696;
                font-size: 2vmin;
            }
        }
    }

    .selected {
        background: #292e6b;
    }
}

.table-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4vmin;
    position: relative;

    .table-header-icon {
        height: auto;
        width: 13vmin;
    }

    .table-header-title {
        color: white;
        font-size: 4vmin;
        font-weight: normal;
        margin: 1vmin 0 0;
    }

    .add-button {
        background: none;
        border: none;
        bottom: 18%;
        color: #74ef5c;
        font-size: 2.8vmin;
        left: 57%;
        position: absolute;
    }
}

.two-sides {
    display: flex;

    .side {
        flex: 1;
        padding: 0 3vmin;

        .add-button {
            left: inherit;
            right: 2vmin;
        }
    }
}

.settings-table-wrapper {
    padding: 0 3vmin;
}

.settings-table {
    .setting-button,
    .setting-label {
        background: transparent;
        border: none;
        color: white;
        font-size: 3vmin;
        line-height: 6vmin;
        padding: 0;
    }

    td:first-child {
        width: inherit;
    }

    .align-right {
        padding-right: 3vmin !important;
    }

    .switch-column {
        padding-right: 7vmin !important;
    }
}

.switch {
    display: inline-block;
    height: 3.7vmin;
    outline: none;
    position: relative;
    vertical-align: middle;
    width: 6.5vmin;

    .label-on {
        color: white;
        font-size: 2.5vmin;
        left: -5vmin;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .label-off {
        color: #fd345e;
        font-size: 2.5vmin;
        position: absolute;
        right: -6vmin;
        top: 50%;
        transform: translateY(-50%);
    }
}

.switch input {
    left: -99999px;
    position: absolute;
    top: -99999px;
}

.slider {
    background: transparent;
    border: 1px solid #d2d2d5;
    border-radius: 3.65vmin;
    bottom: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    border-radius: 50%;
    background: #fe335e;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    height: 2.8vmin;
    position: absolute;
    right: 0.4vmin;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 2.8vmin;
}

.switch input:checked + .slider:before {
    background: #23dec8;
    -webkit-transform: translateX(-2.7vmin) translateY(-50%);
    -ms-transform: translateX(-2.7vmin) translateY(-50%);
    transform: translateX(-2.7vmin) translateY(-50%);
}

.switch input:checked ~ .label-on {
    color: #23dec8;
}

.switch input:checked ~ .label-off {
    color: white;
}
