.team-form {
    align-items: center;
    background: #1f1f42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vmin 0;

    .delete-button {
        background: transparent;
        border: none;
        color: #6ee05d;
        font-size: 3vmin;
    }

    form {
        display: flex;
        flex-direction: row;
        width: 80vmin;
    }

    .left-side,
    .right-side {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .edit-photo-input {
        display: none;
    }

    .edit-photo-button {
        color: #74ef5c;
        cursor: pointer;
        font-size: 2vmin;
        margin-top: 1vmin;
    }

    .left-side {
        margin-right: 4vmin;

        .avatar {
            border-radius: 50%;
            height: 18vmin;
            overflow: hidden;
            position: relative;
            width: 18vmin;

            img {
                left: 50%;
                max-height: 18vmin;
                max-width: 18vmin;
                position: absolute;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }

    .right-side {
        flex: 1;
    }
}

.datepicker-form-group {
    position: relative;
}

.player-date-picker {
    background: #797993 !important;
    position: absolute;
    top: 6vmin;
    z-index: 999;
}
